* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin: 24px 0 16px;
}

.actions {
  display: flex;
  gap: 32px;
  margin: 8px 0;
}

button {
  padding: 8px;
  border-radius: 12px;
  font-size: 16px;
  background-color: #dee2e6;
  border: 1px solid #e9ecef;
}

div.pad {
  width: 726px;
  height: 726px;
  border: 3px solid #212529;
  display: flex;
  flex-wrap: wrap;
}

div.pad.disabled {
  pointer-events: none;
}

div.cell {
  border: 1px solid whitesmoke;
}

div.cell.hovered {
  background-color: #343a40;
}